[Unit]
Description=prune borg snapshots
After=borg-backup.service

[Service]
Type=oneshot
ExecStart=%h/.bin/borg_prune

[Install]
WantedBy=multi-user.target
