[Unit]
Description=restic prune snapshots
After=restic-backup.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.bin/restic_prune

[Install]
WantedBy=multi-user.target
