[Unit]
Description=restic backup
Before=restic-prune.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.bin/restic_backup

[Install]
WantedBy=multi-user.target
