[Unit]
Description=restic backup

[Service]
Type=oneshot
ExecStartPre=/usr/bin/nm-online -q
ExecStart=%h/.bin/restic-backup

[Install]
WantedBy=multi-user.target
