[Unit]
Description=restic Backup
Documentation=man:restic(1)

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
ExecStart=%h/.dotfiles/bin/restic-backup
